[Unit]
Description="LoadLinker Service"
After=network.target

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=~/.local/bin/loadlinker-server
Restart=always

[Install]
WantedBy=multi-user.target